body {
  background-color: lightgray;
}

#board {
  display: grid;
  gap: 3px;
  /* This is set in JavaScript:
  grid-template-columns: repeat(NUMBER OF COLS, max-content); */
}

.cell {
  width: 2rem;
  height: 2rem;
}

.empty {
  background-color: white;
}

.filled {
  background-color: black;
}
