body {
  background-color: lightgray;
}

#board {
  display: grid;
  gap: 1px;
  /* This is set in JavaScript:
  grid-template-columns: repeat(NUMBER OF COLS, max-content); */
}

.cell {
  width: 2rem;
  height: 2rem;
  background-color: black;
}
